{% extends 'base.twig' %}

{% block article %}
    {{ message }}
    <form action="/change-password" method="POST">
        <input type="password" name="oldPassword" placeholder="Old Password">
        <input type="password" name="newPassword" placeholder="New Password">
        <input type="password" name="repeatPassword" placeholder="Repeat Password">
        <input type="hidden" name="referer" value="{{ referer }}">
        <input type="submit" value="Submit" action="/change-password">
    </form>
{% endblock %}