{% extends 'base.twig' %}

{% block title %}
	404
{% endblock %}

{% block header %}
	<header>
		<h1>404</h1>
	</header>
{% endblock %}

{% block article %}
	The Route
	<pre>{{ route }}</pre>
	does not exist.
	<a href="/">Return Home</a>
{% endblock %}
