<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>
			{% block title %}2021
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{% block css %}
			<link rel="stylesheet" href="/public/build/app.css" type="text/css"/>
		{% endblock %}
		<meta name="description" content=""/>
		<link rel="manifest" href="/manifest.webmanifest">
		<link rel="apple-touch-icon" href="/public/manifest/icon-512x512.png">
	</head>
	<body>
		{% block returnLink %}
			{% if is_granted('Editor') %}
				<a href="/admin">Admin</a>
			{% endif %}
		{% endblock %}
		{% block header %}
			<header>
				<h1>2021</h1>
			</header>
		{% endblock %}
		<main>
			{% block aside %}{% endblock %}
			<article>
				{% block article %}{% endblock %}
			</article>
			{% block asideRight %}{% endblock %}
		</main>
		<footer>
			{% block footer %}{% endblock %}
		</footer>
		{% block js %}
			<script src="/public/build/app.bundle.js"></script>
		{% endblock %}
	</body>
</html>
