{% extends 'base.twig' %}

{% block css %}
    {{ parent() }}
    <!-- TODO: Use file from dist -->
    <link rel="stylesheet" href="/assets/css/month.css">
{% endblock %}

{% block header %}
    <header>
	    <h1>2021</h1>
    </header>
{% endblock %}

{% block article %}
    <div id="months-list">
    
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="/public/build/home.bundle.js"></script>
{% endblock %}
