{% extends 'base.twig' %}

{% block css %}
	{{ parent() }}
	<style>
		@media screen and (max-width: 600px) {
			header h1 {
				font-size: calc(100vw / ({{ month|length }} - 0.5));
			}
		}
	</style>

{% endblock %}

{% block header %}
	<h1 style="text-align: left">{{ month }}</h1>
{% endblock %}

{% block article %}{% endblock %}

{% block aside %}
	<aside>
		<ul>
			<li><a href="/">2021</a></li>
		</ul>
	</aside>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="/dist/frontend.bundle.js"></script>
{% endblock %}
